body{
	font-size: 65%;
	background-image: url("https://www.orbitmedia.com/resources/assets/images/bg-texture.jpg")
}

img#image{
	  display: flex;
  	align-items: center;
  	justify-content: center 

}
